/* set my colors  */
:root {
  --main-color: #04bbe7;
  --socond-color: #e86781;
  --font-color: #525e62;
}
/* no margin  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0;
}
/* my container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
}
body {
  background-color: rgba(255, 255, 255, 0.897);

  text-transform: capitalize;
}

.doctor {
  color: #04bbe7;
}
.web {
  color: #e86781;
}
.web::first-letter {
   text-transform: lowercase;
{

h2 {
  display: flex;
  cursor: pointer;
  font-size: 35px;
  font-weight: 500;
}
img {
  width: 40px;
  height: 40px;
  margin-top: 18px;
  margin-right: 25px;
  cursor: pointer;
}
img:hover {
  transition: 2s;

  transform: rotateZ(360deg);
}
.container .doctor-web {
  text-decoration: none;
}
.container .title {
  display: flex;
  justify-content: space-between;
}
hr {
  width: 350px;
  height: 3px;
  color: var(--font-color);
  background-color: var(--font-color);
  margin-top: -8px;
  border-radius: 60%;
}
.container .contactus-word {
  display: block;
  text-align: center;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: var(--font-color);
}
.container form {
  display: grid;
  grid-template-columns: 30% 30%;
  column-gap: 140px;
  row-gap: 50px;
  width: 850px;
  margin-left: 55px;
  margin-right: 20px;
  margin-top: 25px;
}

.container .form {
  display: flex;
  justify-content: space-between;
}

.user-info {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--main-color);
  display: inline-block;
  margin-right: 50px;
  width: 350px;
  height: 50px;
  font-size: 21px;
  color: var(--socond-color);
}
::placeholder {
  color: var(--font-color);
  font-size: 20px;
  padding-left: 2px;
  text-transform: capitalize;
}
textarea {
  border: none;
  outline: none;
  border: 2px solid var(--main-color);
  display: inline-block;
  margin-right: 50px;
  width: 750px;
  height: 330px;
  font-size: 21px !important;
  color: var(--socond-color);
  border-radius: 3px;
}
.button0 {
  background-color: var(--main-color);
  color: #525e62;
  display: inline-block;
  width: 120px;
  height: 35px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
  margin-left: 685px;
  margin-top: 30px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}
.button0:hover {
  color: rgb(206, 217, 226);
  transition: 1s;

  background-color: var(--main-color);
}
.notes {
  margin-right: 50px;
  border-radius: 10px;
  width: 400px;
  border: 1px solid var(--main-color);
  height: 520px;
  padding: 10px;
  margin-top: 40px;
}
p {
  color: var(--font-color);
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 50px;
}
h4 {
  color: #2e3538;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: -10px;
}
h3 {
  color: #e86781;
  text-align: center;
  font-size: 18px;
}
.contactus-section:hover .contactus-word {
  transform: rotate3d(2, 0, 0.5, 360deg);
  transition: 2s;
  color: #e86781;
}
.contactus-section {
  margin-top: -30px;
}

#load {
  width: 100%;
  height: 100vh;
  background-color: #37abd2;
  position: relative;
  display: none;
  transition-delay: 0.5s;
}
#load div {
  font-size: 44px;
  width: 800px;
  height: 200px;
  color: white;
  position: absolute;
  top: 40%;
  left: 19%;
  text-align: center;
  line-height: 60px;
  word-spacing: 10px;
}
#load .shake {
  font-size: 120px;
  position: absolute;
  top: 20%;
  left: 18%;
  color: white;
}
